<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="Logging" type="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <UnicastBusConfig ForwardReceivedMessagesTo="audit">
    <MessageEndpointMappings>
      <add Assembly="Messages" Endpoint="NServiceBusHandlerWithRavenDBSender" />
      <!--To register all message types defined in an assembly:
      <add Assembly="assembly" Endpoint="queue@machinename" />
      
      To register all message types defined in an assembly with a specific namespace (it does not include sub namespaces):
      <add Assembly="assembly" Namespace="namespace" Endpoint="queue@machinename" />
      
      To register a specific type in an assembly:
      <add Assembly="assembly" Type="type fullname (http://msdn.microsoft.com/en-us/library/system.type.fullname.aspx)" Endpoint="queue@machinename" />-->
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <Logging Threshold="WARN" />

  <TransportConfig MaximumConcurrencyLevel="10" MaxRetries="3"/>
</configuration>